*.class
*.log
*.lock

### Package Files ####
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
mvnw*